*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
    //Defines what 1rem is !
    font-size: 62.5%; /*Represents 10px*/
}

body {
  /* Change the box model so that the padding and the borders are not added to the toatal width/height  */
  box-sizing: border-box;
}